* {
  text-align: center;
  font-family: "Montserrat";
  font-size: 32px;
  color: White;
}
.test ul {
  list-style: none;
  position: fixed;
  left: 0px;
  right: 45px;
  bottom: 0px;
  top: 180px;
  margin: auto;
}
.test img {
  position: fixed;
  width: 180px;
  height: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
  filter: invert();
  transform: rotate(180deg);
}
body {
  background-image: linear-gradient(45deg, Blue, Red);
  height: auto;
  background-repeat: no-repeat;
  position: fixed;
  width: 50%;
}
